
#izquierda {
  top: 100%;
  height: 80px;
  width: 80px;
  cursor: pointer;
  font-size: 4.25rem;
  position: absolute;
  text-align: center;
  line-height: 90px;
  color: rgb(0, 0, 0);
  /* background-color: black; */
  border-radius: 50%;
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23); */
  transform: translate(-55%, -50%);

  transition: transform 0.1s linear;
  z-index: 1;
}

#derecha {
  top: 100%;
  height: 80px;
  width: 80px;
  cursor: pointer;
  font-size: 4.25rem;
  position: absolute;
  text-align: center;
  line-height: 90px;
  color: rgb(0, 0, 0);
  border-radius: 50%;
  transform: translate(1250px, -50%);
  transition: transform 0.1s linear;
  z-index: 2;
}


.carousel-container {
  max-width: 95%;
  overflow: hidden;
  margin: 0 auto;
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  transition: transform 0.5s ease;
  scroll-snap-type: none;
  scroll-behavior: auto;
}


.carousel-container::-webkit-scrollbar {
  display: none;
}

.carousel-container{
  scroll-behavior: auto;
}

.carousel-container {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.card {
  flex: 0 0 calc(24% - 15px);
  margin: 10px;
  /* width: 300px;
  height: 440px; */
  position: relative;
  border-radius: 20px;
  background: #ffffff00;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border: none;
  transition: 400ms transform, 400ms box-shadow, 400ms background-color;
  border: none;
  background-color: #fff;
}

.carousel-container .carousel .card:hover{
  transform: scale(1.0);
  border-radius: 15px;
  background: linear-gradient(145deg, #ffffff, #dfdfdf);
  box-shadow: 5px 5px 8px #a9a9a9, -5px -5px 8px #ffffff;
}

.carousel:hover>.card:not(:hover){
  filter: blur(2px);
  transform: scale(0.9);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


.carousel .card img {
  width: 100%;
  height: 45%;
  border-radius: 10px 10px 0 0;
  margin-left: 0px;
  display: block;
  object-fit: cover

}
.carousel .card h1 {
  position: absolute;
  bottom: 46%;
  left: 3%;
  z-index: 1;
  text-align: center;
  color: rgb(255, 0, 0);
  font-size: 50px;
  font-weight: 600;
}

.carousel .card .description {
  padding: 15px;
  width: 100%;
  height: 39%;
}


.carousel .card .buttons {
  justify-content: flex-end;
  margin-right: 5px;
  display: inline-flex;

}

.carousel .card .buttons button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 1rem;
  border-radius: 1.5rem;
  background: #2c2e35;
  background-size: 200%;
  color: #fff;
  border: none;
  display: inline-flex;
  align-items: center;
  margin-left: 5px;
}


.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(82.3deg,rgb(156, 14, 14) 10.8%,rgb(225, 46, 23) 94.3%);
  transition: all 0.475s;
}


.carousel .card .buttons button svg {
  text-align: center;
  align-items: center;
}

.carousel .card .buttons button svg:hover{
  transform: scale(0.95);
}
.card-content {
  padding: 10px;
}

.carousel-container .prev-button,
.carousel-container .next-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.carousel-container .prev-button:hover,
.carousel-container .next-button:hover {
  background-color: #0056b3;
}
